<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="login1" value="" />
        <add key="login2" value="" />
        <add key="login3" value="" />
    </appSettings>
</configuration>